<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLM201___Programlama_Laboratuvari_2___Proje_3.Properties.Settings.BankDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BankDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>